

<div class="large-2 columns panel">
  <script>
      window.user ='<%=@user.name%>';

  </script>


  <div ng-controller="LeftHomeController">


    <div id = "changePicAttachment" class="reveal-modal tiny" data-reveal>
        <h6> Upload Your image</h6>
        <input type="file" ng-file-select="onPhotoAttach($files)" multiple>
    </div>



    <div ng-show = "togglePhoto1">
    <%= image_tag current_user.image_url(:thumb).to_s %>
    </div>
    <div ng-show="togglePhoto2">
      <img ng-src="{{profile_photo[0].photo_url}}"  alt="interestPhoto"  />

    </div>
    <h4 class="push-3">
      <%= current_user.name %>
    </h4>
    <%= link_to "view my profile", current_user %><br>
    <button class="button tiny" data-reveal-id="changePicAttachment">change Pic</button>
    <!-- removed cause of the performance -->
    <%#= render 'shared/stats' %>
  </div>
</div>
  <%#= render 'shared/micropost_form' %>
  <!--<h3>Micropost Feed</h3>-->
  <%#= render 'shared/feed' %>

 <div class="large-7 columns" >
    <div class="row  panel callout radius">
        <div class="large-12 columns">
          <!-- this is using angular-->
          <div ng-controller="CentreHomeController" ng-cloak>
          <!--This is where the posting of micropost is done-->
            <textarea ng-model="data.micropost" placeholder="Say whats going on"></textarea>

            <!--****************************************************************************************************-->

          <!-- will be added in the next version-->
           <!-- <button class="tiny" data-reveal-id="paperclipAttachment" ng-click="loadInterests()"><i class="fi-paperclip"></i></button>-->
            <button class="medium" data-reveal-id="videoAttachment" ng-click="loadInterests()"><i class="fi-video"></i></button>
            <button class="medium" ng-click="post()">Post</button>

            <br>

            <!--****************************************************************************************************-->
          <!-- this is used for the file attachments-->
          <div id="paperclipAttachment" class="reveal-modal medium" data-reveal>
            <span class="subheader">Write a description before uploading any files</span>
            <input type="text" ng-model="description" ng-change="toggleUpload()"/>
            <div ng-show="flag2">
              <h4 class="subheader"> Select a category interest</h4>
              <div class="row panel">
                <div ng-repeat="interest in interestMapper">
                  <div class="large-4 columns">
                    <div class="row">
                      <h6 class="row subheader" ng-bind="interest.name"> </h6>
                    </div>
                    <div class="row">
                      <img ng-src="{{interest.image.thumb.url}}"  alt="interestPhoto" width="100" height="100" class="th"/>
                    </div>
                    <div class="row">
                      <button ng-disabled="isDisabled[interest.id]" ng-click="toggleInterest(interest.id)" class="button tiny">Add</button>
                    </div>
                  </div>
                </div>
              </div>
                <input type="file" ng-file-select="onFileAttach($files)" multiple ng-model="fileAttach">
                <div class="drop-box" ng-file-drop="onFileAttach($files)" ng-file-drag-over-class="optional-css-class"
                     ng-show="dropSupported">drop files here</div>
                <div ng-file-drop-available="dropSupported=true"
                     ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
                </div>

            <a class="close-reveal-modal">&#215;</a>

          </div>
            <!--****************************************************************************************************-->
            <div id="videoAttachment" class="reveal-modal medium" data-reveal>
              <span class="subheader">Write a description before uploading a video</span>
              <input type="text" ng-model="videoDesc" ng-change="toggleVideoUpload()"/>
              <div ng-show="flag4">
                <h4 class="subheader"> Select a category interest</h4>
                <div class="row panel">
                    <div ng-repeat="interest in interestMapper">
                    <div class="large-4 columns">
                        <div class="row">
                            <h6 class="row subheader" ng-bind="interest.name"> </h6>
                        </div>
                        <div class="row">
                          <img ng-src="{{interest.image.thumb.url}}"  alt="interestPhoto" width="100" height="100" />
                        </div>
                        <div class="row">
                          <button ng-disabled="isDisabled[interest.id]" ng-click="toggleInterest(interest.id)" class="button tiny">Add</button>
                        </div>
                    </div>
                    </div>

                </div>

                <div class="row">
                  <div class="large-12 columns right">
                    <input type="file" ng-file-select="onVideoAttach($files)" multiple>

                    <div class="drop-box" ng-file-drop="onVideoAttach($files)" ng-file-drag-over-class="optional-css-class"
                         ng-show="dropSupported">drop files here</div>
                    <div ng-file-drop-available="dropSupported=true"
                         ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
                    </div>
                </div>
              </div>
              <a class="close-reveal-modal">&#215;</a>
            </div>
            <!--****************************************************************************************************-->


          <!--this is used for showing the microposts-->
          <div ng-repeat="micropost in microposts" class="row">
              <br><hr>
            <div class="large-2 columns">
              <div class="row">
                <img border="0" ng-src="{{myPhoto.currentUserPhoto}}" alt="userPphoto" width="38" height="50" class="th"/>
              </div>

              <div class="row">
                <button class="button tiny" ng-click="onVoteUp(micropost)"> <i class="fi-like" ></i></button>
                <h6 >{{vote.reputation}} votes</h6>
              </div>
              <div class="row">
                <button class="button tiny" ng-click="onVoteDown(micropost)"> <i class="fi-dislike" ></i></button>

              </div>
            </div>
            <div class="large-10 columns pull-1">
              <span class="subheader" > <%=@user.name%> said:: </span>
              <span class="content" ng-bind="micropost.micropost.content">  </span>
              <span class="subheader" ng-bind="micropost.micropost.created_at|date:'h.mm a'">at  </span>
              <hr/>
              <!--**********************************-->
              <!--this part is for comment -->
              <div ng-repeat="comment in micropost.comments" class="row">
                <div class="large-3 columns ">
                  <img border="0" ng-src="{{myPhoto.currentUserPhoto}}" alt="userPhoto" width="38" height="50" class="th"/>

                </div>
                <div class="large-9 columns pull-1">
                  <span class="subheader" ng-bind="currentUserName"> <%=@user.name%> said:: </span>
                  <span class="content" ng-bind="comment.content"> </span>
                  <span class="subheader"ng-bind="comment.created_at|date:'h.mm a'">at  </span>
                </div>
                <hr/>
              </div>
             <!--Use this to write the comments-->
              <textarea ng-model="micropost.commentIt" placeholder="Comment about it"></textarea>
              <button class="tiny" ng-click="micropostComment(micropost)">Comment</button>
            </div>
            <hr/>
          </div>
          <!--****************************************************************************************************-->
          <!--Here this part is for showing the uploads-->
          <div ng-repeat="attachment in attachments">
            <br><hr>
            <div class="large-2 columns">
              <div class="row">
                <img border="0" ng-src="{{myPhoto.currentUserPhoto}}" alt="userPhoto" width="38" height="50" class="th"/>
              </div>

              <div class="row">
                <button class="button tiny" ng-click="onVoteUp(attachment)"> <i class="fi-like" ></i></button>
                <h6 >{{vote.reputation}} votes</h6>
              </div>
              <div class="row">
                <button class="button tiny" ng-click="onVoteDown(attachment)"> <i class="fi-dislike" ></i></button>
              </div>
            </div>
            <div class="large-10 columns pull-1">
              <h5 ng-bind="attachment.getFiles.description" class="subheader"></h5>
              <a ng-href="{{attachment.getFiles.file.url}}">Download</a>
              <h6 class="subheader">created at .
                <span class="subheader" ng-bind="attachment.getFiles.created_at|date:'h.mm a'"></span></h6>
              <!--this part is for comment-->
              <div ng-repeat="comment in attachment.comments" class="row">
                <div class="large-3 columns pull-1">
                  <img border="0" ng-src="{{myPhoto.currentUserPhoto}}" alt="userPhoto" width="38" height="50"/>
                </div>
                <div class="large-9 columns pull-2">
                  <span class="subheader" ng-bind="currentUserName">  said:: </span>
                  <span class="content" ng-bind="comment.content"> </span>
                  <span class="subheader"ng-bind="comment.created_at|date:'h.mm a'">at  </span>
                </div>
                <hr/>
              </div>
              <!--Use this to write the comments-->
              <textarea ng-model="attachment.commentIt" placeholder="Comment about it"></textarea>
              <button class="tiny button" ng-click="attachmentComment(attachment)">Comment</button>
            </div>
            <hr/>
          </div>


          <!--****************************************************************************************************-->
          <!--Here this part is for showing the video uploads-->
          <div ng-repeat="vadeo in videoAttachs" class="row">
            <br><hr>
            <div class="large-2 columns">
              <div class="row">
                <img border="0" ng-src="{{myPhoto.currentUserPhoto}}" alt="userPhoto" width="38" height="50" class="th"/>
              </div>

              <div class="row">
                <button class="button tiny" ng-click="onVoteUp(vadeo)"> <i class="fi-like" ></i></button>
                <h6 >{{vote.reputation}} votes</h6>
              </div>
              <div class="row">
                <button class="button tiny" ng-click="onVoteDown(vadeo)"> <i class="fi-dislike" ></i></button>
              </div>
            </div>
            <div class="large-10 columns pull-1">
              <h5 ng-bind="vadeo.getFiles.description" class="subheader"></h5>

              <a  id="player" ng-init="showVideo(vadeo.getFiles.file.url)" class="th" flow=""
                  style="display:block;width:425px;height:300px;" >
              </a>

             <!-- <a class="th" flow="" url = "{{vadeo.getFiles.file.url}}"  style="display:block;width:300px;height:170px;">
                <img  ng-src="{{vadeo.getFiles.file.thumb.url}}"  width="300" height="300" /></a>-->
              <h6 class="subheader">created at .
                <span class="subheader" ng-bind="vadeo.getFiles.created_at|date:'h.mm a'"></span></h6>



              <!--this part is for comment-->
              <div ng-repeat="comment in vadeo.comments" class="row">
                <div class="large-3 columns pull-1">
                  <img border="0" ng-src="{{myPhoto.currentUserPhoto}}" alt="userPhoto" width="38" height="50"/>
                </div>
                <div class="large-9 columns pull-2">
                  <span class="subheader" ng-bind="currentUserName">  said:: </span>
                  <span class="content" ng-bind="comment.content"> </span>
                  <span class="subheader"ng-bind="comment.created_at|date:'h.mm a'">at  </span>
                </div>
                <hr/>
              </div>
              <!--Use this to write the comments-->
              <textarea ng-model="vadeo.commentIt" placeholder="Comment about it"></textarea>
              <button class="tiny button" ng-click="videoComment(vadeo)">Comment</button>

            </div>

          </div>

          <hr>


          <div ng-controller="ActivityCtrl">
            <div infinite-scroll="myPagingFunction()" >
            </div>
            <div class="row ">


              <!--this is used for showing the microposts-->
              <div ng-repeat="userDetail in usersDetails" class="row">

                <div class="large-2 columns">
                  <div class="row">
                    <img border="0" ng-src="{{userDetail.otherUserPhoto}}" alt="UserPhoto" width="38" height="50" class="th"/>
                  </div>

                  <div class="row">
                    <button class="button tiny" ng-click="onVote(userDetail,'up')"> <i class="fi-like" ></i></button>
                    <h6 >{{userDetail.vote.reputation}} votes</h6>
                  </div>
                  <div class="row">
                    <button class="button tiny" ng-click="onVote(userDetail,'down')"> <i class="fi-dislike" ></i></button>

                  </div>
                </div>
                <div class="large-10 columns pull-1">

                  <span class="subheader" ng-bind="userDetail.otherUser.name"> said:: </span>

                  <!--This is for the micropost contents-->
                  <span class="content" ng-bind="userDetail.feed.content">  </span>
                  <!--This is for the attachments-->
                  <div ng-show="userDetail.feedModel == 'attachments' ">
                    Description :: <span class="description" ng-bind="userDetail.feed.description"></span>
                    <a ng-href = "{{userDetail.feed.file.url}}">Download</a>
                    <span class="subheader" ng-bind="userDetail.feed.created_at|date:'h.mm a'">at  </span>
                  </div>
                  <!--This is for video model-->
                  <div ng-show="userDetail.feedModel == 'video_attachments' ">
                    Description :: <span class="description" ng-bind="userDetail.feed.description"></span>


                    <!--Video Player-->
                    <a  id="player" ng-init="showVideo(userDetail.feed.file.url)" class="th" flow=""
                        style="display:block;width:425px;height:300px;" >
                      </a>

                    <span class="subheader" ng-bind="userDetail.feed.created_at|date:'h.mm a'">at  </span>
                  </div>
                  <hr/>
                  <!--**********************************-->
                  <!--this part is for comment -->
                  <div ng-repeat="comment in userDetail.comments" class="row">
                    <div class="large-3 columns ">
                      <img border="0" ng-src="{{comment.user_image}}" alt="userPhoto" width="38" height="50" class="th"/>
                      <!--<img border="0" ng-src="{{userDetail.currentUserPhoto}}" alt="userPhoto" width="38" height="50"/>-->
                    </div>


                    <div class="large-9 columns pull-1">

                      <span class="subheader"ng-bind="comment.user_name"> <%#=@user.name%> said:: </span>
                      <span class="content" ng-bind="comment.content"> </span>
                      <span class="subheader"ng-bind="comment.created_at|date:'h.mm a'">at  </span>
                    </div>
                    <hr/>
                  </div>

                  <!--Use this to write the comments-->
                  <textarea ng-model="userDetail.commentIt" placeholder="Comment about it"></textarea>
                  <button class="tiny button" ng-click="comment(userDetail)">Comment</button>
                </div>
                <hr/>
              </div>
              <!--****************************************************************************************************-->


            </div>
          </div>


        </div>

        </div>
    </div>


 </div>






<div class="large-3 panel columns">
      #20,Ganga Kaveri Krupa,
      Govind Shetty Palya Road,
      Basva Nagar, Electronic City Phase 2,
      Bangalore 560100



    <div ng-controller="RightHomeController">

             <div ng-repeat="suggested_user in affinities track by $index">

                 <div class="row">
                   <div class="th"><img ng-src="{{suggested_user.photo_url}}" width="50" height="50"/></div>
                   <div ng-bind="suggested_user.name"></div>

                    <button ng-click="relate(suggested_user.user_id,suggested_user.affinity_id,$index)"  class="tiny">Follow</button>
                 </div>
             </div>


    </div>





</div>

